#include <iostream>
#include <stdio.h>
#include <stdlib.h>
#include <iomanip>
#include <string>
#include <conio.h>
#include <cmath>

using namespace std;

struct node
{
    long long int npm;
	string nama, jenis, status;
	float berat, tinggi, bmi, ideal;
	struct node *next;
}*top = NULL;
